
@{
    ViewBag.Title = "Index";
    var cart = task03_0606.Models.Cart.Operation.GetCurrentCart();
}

<style>
    /*.table td, .table th {
        padding: 0rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }*/

    .rwd-table {
        background: #fff;
        overflow: hidden;
    }

        .rwd-table tr:nth-of-type(2n) {
            background: #eee;
        }

        .rwd-table th,
        .rwd-table td {
            margin: 0.5em 1em;
        }

    .rwd-table {
        min-width: 100%;
    }

        .rwd-table th {
            display: none;
        }

        .rwd-table td {
            display: block;
        }

            .rwd-table td:before {
                content: attr(data-th);
                font-weight: bold;
                width: 6.5em;
                display: inline-block;
            }

        .rwd-table th,
        .rwd-table td {
            text-align: left;
        }

            .rwd-table th,
            .rwd-table td:before {
                /*color: #D20B2A;*/
                font-weight: bold;
            }

    @@media (min-width: 480px) {

        .rwd-table td:before {
            display: none;
        }

        .rwd-table th, .rwd-table td {
            display: table-cell;
            padding: 0.25em 0.5em;
        }

            .rwd-table th:first-child,
            .rwd-table td:first-child {
                padding-left: 0;
            }

            .rwd-table th:last-child,
            .rwd-table td:last-child {
                padding-right: 0;
            }

        .rwd-table th,
        .rwd-table td {
            padding: 1em !important;
        }
    }
</style>


<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Home/Index">首頁</a>
    </li>
    <li class="breadcrumb-item active">購物車明細 </li>
</ol>

    <div class="col-xl-12 col-sm-12 mb-12">
        <div class="card o-hidden h-100">

            <div class="card-header">
                <h5 class="card-title"> 訂購人姓名：@(ViewBag.userLastName+ViewBag.userFirstName)    座位：@ViewBag.seatLoction</h5>
            </div>
            <div class="card-body">
                <table class="table-responsive-sm rwd-table">
                    <tr>
                        <th>產品圖片</th>
                        <th>產品名稱</th>
                        <th>店家</th>
                        <th>數量</th>
                        <th>單價</th>
                        <th>小計</th>
                        <th>備註</th>
                        <th> </th>
                    </tr>
                    @foreach (var item in cart)
                    {
                        <tr>
                            <td data-th="產品圖片："> <img class="img-fluid" width="200" height="120" src="~/photo/@item.picture" /> </td>
                            <td data-th="產品名稱：">@item.productName</td>
                            <td data-th="店家：">@item.stoteName</td>
                            <td data-th="數量："><input size="1" id="itemCount+@item.produtctId" style="text-align:center; border:none" value="@item.quantity" onblur="itemCountEdit(@item.produtctId, $(this).val())"/></td>
                            <td data-th="單價：">@item.price</td>
                            <td data-th="小計：">@(item.price * item.quantity)</td>
                            <td data-th="備註："><input size="5" id="itemNote+@item.produtctId"style="text-align:right; border:none;" value="@item.note" onblur="itemNoteEdit(@item.produtctId, $(this).val())"/></td>
                            <td>
                                <a onclick="RemoveFromCart(@item.produtctId)" class="btn btn-sm btn-danger pull-right text-white" aria-label="Delete">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }

                   
                </table>
                <div class="pull-right">
                    <p>  共 @cart.Count 項，總計：@cart.TotalAmount 元 </p>
                    <a href="~/Order/OrderPayment" class="btn btn-sm btn-success"><i class="fa fa-fw fa-dollar"></i>確定付款</a>
                </div>

            </div>
        </div>
    </div>

<script>
    //修改數量
    function itemCountEdit(itemId, count) {
       
        alert("id：" + itemId + "  count：" + count );
       
        $.ajax({
            type : "post",
            url:"@Url.Action("EditCartProductCount", "Cart")",
            data: {
                ItemId_edit: itemId,
                quantity_edit: count,
            }
        })
            .done(function (msg) {
                window.location.reload();
                //alert("id：" + itemId + "  count：" + count + "  note" + note);
            //$("li#Cart").html(msg);
            
        })
    }

    function itemNoteEdit(itemId, note) {
       
        alert("id：" + itemId  + "  note" + note);
        if (note == null) {
            note = "";
        }
        $.ajax({
            type : "post",
            url:"@Url.Action("EditCartProductNote", "Cart")",
            data: {
            ItemId_edit: itemId,
            ItemNoet_edit: note,
            }
    })
    .done(function (msg) {
        window.location.reload();
        //alert("id：" + itemId + "  count：" + count + "  note" + note);
        //$("li#Cart").html(msg);
            
    })
    }

</script>



   


