@model List<task03_0606.Models.Order>
@{
    ViewBag.Title = "Order_list_bussiness";

}
<style>
    .cardMenuItem {
        border: none;
        font-weight: 700;
    }
</style>

<ol class="breadcrumb">
    @*<li class="breadcrumb-item">
        <a href="~/Home/Index"></a>
    </li>*@
    <li class="breadcrumb-item active">未出餐清單 </li>
    @*<small class="pull-right text-muted">Updated yesterday at 11:59 PM</small>*@
</ol>



<div class="row">
    @foreach (var order in Model)
            {
        <div class="card cardMenuItem col-sm-12 col-md-4 col-xl-3 ">
            <div class="card-header bg-success">
                <p class="card-text text-white">
                    桌號：@order.tableId &nbsp 電話：@order.phoneNum <br />
                    <small class="text-white">@string.Format("{0:T}", Convert.ToDateTime(order.orderDate))</small>
                    <button class="btn btn-sm btn-success pull-right" disabled>@order.orderId+出餐</button>
                </p>

            </div>
            <ul class="list-group list-group-flush">
                @{

                    using (task03_0606.Models.FoodCourtDBEntities db = new task03_0606.Models.FoodCourtDBEntities())
                    {

                        string stroeId = Session["storeId"].ToString();

                        var detailList = (from o in db.OrderDetials
                                          where o.orderId == order.orderId && o.Product.Store.storeId == stroeId
                                          select o).ToList();

                        long totalProductOk = 2 * detailList.LongCount();
                        long ProductOk = 0;

                        foreach (var detail in detailList)
                        {
                            <li class="list-group-item container-fluid">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <img style="width:50px; height:40px" src="~/photo/@detail.Product.productPicture">
                                    </div>
                                    <div class="col-xs-8">
                                        <p class="card-text">&nbsp @detail.Product.productName <br /> &nbsp @detail.productCount 份 &nbsp 備註：@detail.customerNote</p>
                                        <p class="card-text">@((detail.productionStatus) == 1 ? "準備中" : "OK")  @(ProductOk += detail.productionStatus)</p>
                                        
                                    </div>
                                    <div class="col-xs-1">
                                        
                                    </div>
                                </div>
                            </li>
                        }

                       
                    }
                }
            </ul>
          
        </div>
                    }       


</div>

<div class="row">
    <div id="page">
        <ul class="pagination pagination-sm">
            <li class="page-item prev"><a class="page-link" href="#">上一頁</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item next"><a class="page-link" href="#">下一頁</a></li>
        </ul>
    </div>
</div>






<script>

    $('.form_ele').attr('disabled', true);

    $('.form_ele').removeAttr('disabled');


    $(".list-group-item.container-fluid").click(function () {
        //if ($(this).find("p.card-text").color() ='green') { alert("ok") }
        //else { alert("not ok")}

        if($(this).find("div.col-xs-1").find('i') != null){alert("1111");}
        
        $(this)
            .find("div.col-xs-1")
            .append('<i class="fa fa-fw fa-check-circle"></i>');
    })

    $(".list-group-item.container-fluid").dblclick(function () {
        $(this)
            .find("div.col-xs-1")
            .find('i').remove();
    })


    //訂單出餐
    $("#orderOK").click(function () {
        $.ajax({
            method: "post",
            dataType: "json",
            url: "@Url.Action("Order_list_chickToDatabase_bussiness", "Order")",
            data: {
                orderDetail_time_input: $("#orderDetail_time").text(),
                orderDetail_customerPhone_input: $("#orderDetail_customerPhone").text(),
                orderDetail_orderID_input: $("#orderDetail_orderID").text(),
                orderDetail_seatID_input: $("#orderDetail_seatID").text(),
            }
        })
            .done(function (data) {
                console.log(data);
                alert("確定出餐");
                $('#exampleModalCenter').modal('hide');

            })
    })

    $(function () {

        //實現分頁思路:
        var pageSize = 8;      //每頁顯示數據條數
        var currentPage = 1;   //當前頁數
        var prevPage = 0;
        var totalSize = $(".cardMenuItem").length; //獲取總數據
        var totalPage = Math.round(totalSize / pageSize); //計算總頁數
        $(".cardMenuItem:gt(7)").hide(); //設置首頁顯示8 (8-1) 條數據


        //移除原有 .pagination 裡的元素 , append "前一頁" li
        $(".pagination").empty().append('<li class="page-item prev"><a class="page-link" href="#">❮</a></li>');
        //依總分頁數 , append 各分頁 li
        for (var index = currentPage; index <= totalPage; index++) {
            $(".pagination").append('<li class="page-item pageItems"><a class="page-link" href="#">' + index + '</a></li>');
        }
        //append "後一頁" li
        $(".pagination").append('<li class="page-item next"><a class="page-link" href="#">❯</a></li>');


        //實現下一頁
        $(".next").click(function () {
            if (currentPage == totalPage) { //當前頁數==最後一頁，禁止下一頁
                return false;
            } else {//不是最後一頁，顯示應該顯示的數據.
                $(".current_page").text(++currentPage);  //當前頁數先+1
                var start = pageSize * (currentPage - 1);
                var end = pageSize * currentPage;
                $.each($('.cardMenuItem'), function (index, item) {
                    if (index >= start && index < end) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });

            }
        });

        //實現上一頁
        $(".prev").click(function () {
            if (currentPage == 1) {//當前頁數==1，禁止上一頁
                return false;
            } else {
                $(".current_page").text(--currentPage);  //當前頁數先-1
                var start = pageSize * (currentPage - 1);
                var end = pageSize * currentPage;
                $.each($('.cardMenuItem'), function (index, item) {
                    if (index >= start && index < end) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            }
        });

        //選擇特定頁
        $(".pageItems").click(function () {
            //alert(this.innerText);
            prevPage = currentPage;
            currentPage = this.innerText;

            //alert($(".pagination").find("li")[0].innerText);
            //加入page-item  active
            //$(".pagination").find("li")[currentPage].addClass('active');

            var start = pageSize * (currentPage - 1);
            var end = pageSize * currentPage;
            $.each($('.cardMenuItem'), function (index, item) {
                if (index >= start && index < end) {
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
            });

        });

    });

</script>
