@model List<task03_0606.Models.Order>
@{
    ViewBag.Title = "Order_list_history_bussiness";
}

<style>
    input[type=date]::-webkit-inner-spin-button {
        visibility: hidden;
    }
</style>

<ol class="breadcrumb">
    <li class="breadcrumb-item active">歷史訂單</li>
</ol>

<div class="row">
    <div class="col-xl-12 col-sm-12 mb-12">
        <div class="card-header">
            <i class="fa fa-table"></i>&nbsp; 訂單明細 <small class="pull-right text-muted">更新於 @string.Format("{0:yyyy/MM/dd/ HH:mm}", DateTime.Now.ToString())</small>
        </div>
        <div class="card-body">

            @*<div class="form-row">
                
                <div class="form-group col-md-4 offset-2">
                    <div class="row">
                        <label class="control-label" for="beginDate" >接單起始日期：</label>
                        
                        <input id="beginDate" type="date" placeholder="date"/>
                    </div>
                    </div>
                <div class="form-group col-md-4">
                    <div class="row">
                        <label class="control-label" for="endDate">接單截止日期：</label>
                        <input id="endDate" type="date" /> <button class="btn btn-success" onclick="queryBydate()">確認</button>
                    </div>
                </div>
            </div>*@
            
            @*訂單清單*@
            <div class="table-responsive-sm">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>訂單單號</th>
                            <th>接單時間</th>
                            @*<th>時間差</th>*@
                            <th>客戶電話</th>
                            <th>座位</th>
                            <th>訂單小計</th>
                            <th>訂單狀況</th>
                        </tr>
                    </thead>

                    <tbody>


                        @foreach (var order in Model)

                            {
                                using (task03_0606.Models.FoodCourtDBEntities db = new task03_0606.Models.FoodCourtDBEntities())
                                {
                                    string stroeId = Session["storeId"].ToString();
                                    var orderDetailList = (from o in db.OrderDetials
                                                           where o.orderId == order.orderId && o.Product.storeId == stroeId
                                                           select o).ToList();
                                    var orderTotalAmount = 0;
                                    foreach (var orderDetail in orderDetailList)
                                    {
                                        orderTotalAmount += (orderDetail.productCount * orderDetail.Product.productPrice);
                                    }



                            <tr class="orderListItem" data-orderid="@order.orderId" data-orderiddate="@string.Format("{0:yyyyMMdd}{1}", Convert.ToDateTime(order.orderDate), (order.orderId + 10000))">
                                <td> @string.Format("{0:yyyyMMdd}{1}", Convert.ToDateTime(order.orderDate), (order.orderId + 10000)) </td>
                                <td> @string.Format("{0:yyyy/MM/dd/ HH:mm}", Convert.ToDateTime(order.orderDate)) </td>
                                @*<td> @string.Format("{0:dd HH:mm}", (DateTime.Now-Convert.ToDateTime(order.orderDate))) </td>*@
                                <td> @order.phoneNum</td>
                                <td> @order.tableId</td>
                                <td> @orderTotalAmount</td>
                                <td>@(order.orderState == 2 ? "訂單完成" : "待出餐") </td>
                            </tr>
                                }
                            }
                    </tbody>
                </table>
            </div>

        </div>

        
    </div>
</div>



<!-- Modal -->
@*訂單明細彈跳視窗*@
<div class="modal fade bd-example-modal-lg " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content modal-lg">
            <div class="modal-header">

                <div>
                    訂單編號：<label id="orderDetail_orderID" name="orderDetail_orderID"></label>

                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body max-height">
                <div class="table-responsive-sm">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>項次</th>
                                <th>產品編號</th>
                                <th>產品名稱</th>
                                <th>數量</th>
                                <th>單價</th>
                                <th>小計</th>
                                <th>訂單備註</th>
                                <th>產品狀態</th>

                            </tr>
                        </thead>
                        <tbody id="detailList">
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>可樂(中)</td>
                                <td>2</td>
                                <td>30</td>
                                <td>60</td>
                                <td>去冰</td>

                            </tr>


                        </tbody>
                        <thead id="detailSum">
                            <tr>
                                <th>總計</th>
                                <th> </th>
                                <th> </th>
                                <th> </th>
                                <th>3</th>
                                <th> </th>
                                <th>160</th>
                                <th> </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>


<script>
    function queryBydate() {
        alert("開始日期: " + $("#beginDate").val() + "  結束日期: " + $("#endDate").val());
    }


    $(document).ready(function () {
        let today = new Date().toISOString().substr(0, 10);
        document.querySelector("#beginDate").value = today;
        document.querySelector("#endDate").value = today;
       
    })



    //點選訂單，浮出Modal訂單明細
    $(".orderListItem").click(function () {
        //alert($(this).data("orderid"));
        $('#exampleModalCenter').modal('show');

        var orderId = $(this).data("orderid");
        var orderIDDate = $(this).data("orderiddate");

        //alert(orderIDDate);

        $("#orderDetail_orderID").text(orderIDDate);

        $.ajax({
            method: "post",
            url: '@Url.Action("Order_list_history_bussiness", "Order")',
            data: {
                orderId: parseInt(orderId),
            },
        }).done(function (dataList) {
            //console.log(dataList)
            $("#detailList").empty();

            var countSum = 0;
            var amountSum = 0;
            $.each(dataList, function (index, data) {
                $("#detailList").append('<tr><td>' + (index + 1) + '</td><td>' + data.productID + '</td><td>' + data.productName + '</td><td>' + data.unitPrice + '</td><td>' + data.productCount + '</td><td>' + data.unitPrice * data.productCount + '</td><td>' + data.customerNote + '</td><td>' + (data.productionStatus == 1 ? "待準備" : "準備完成") + '</td></tr >');
                countSum += data.productCount;
                amountSum += data.productCount * data.unitPrice;
            });
            $("#detailSum").empty();
            $("#detailSum").append('<tr><td>總計</td><td></td ><td></td><td></td><td>' + countSum + '</td><td>' + amountSum + '</td><td></td><td></td></tr >');
        });
    })

</script>

