@model List<task03_0606.Models.OrderDetailViewModel>

@{
    ViewBag.Title = "Order_deteail_bussiness";
}




<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Order/Order_list_bussiness">未出餐訂單-訂單別</a>
    </li>
    <li class="breadcrumb-item active">未出餐訂單-明細別</li>
</ol>

<div class="col-xl-12 col-sm-12 mb-12">
    <div class="card-header">
        <i class="fa fa-table"></i>&nbsp; 未出餐-餐點清單<small class="pull-right text-muted">更新於 @string.Format("{0:yyyy/MM/dd/ HH:mm}", DateTime.Now.ToString())</small>
    </div>
    <div class="card-body">

        <div class="table-responsive-sm">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>接單時間</th>
                        <th>客戶電話</th>
                        <th>訂單單號</th>
                        <th>座位</th>
                        <th style="display:none">產品編號</th>
                        <th>產品編號</th>
                        <th>產品名稱</th>
                        <th>數量</th>
                        <th>單價</th>
                        <th>小計</th>
                        <th>備註</th>
                        <th>產品狀態</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>



                    @foreach (task03_0606.Models.OrderDetailViewModel order in Model)

                    {
                        <tr>
                            <td data-th="接單時間："> @string.Format("{0:yyyy/MM/dd/ HH:mm}", Convert.ToDateTime(order.orderTime))</td>
                            <td data-th="客戶電話："> @order.customerPhone </td>
                            <td data-th="訂單單號："> @string.Format("{0:yyyyMMdd}{1}", Convert.ToDateTime(order.orderTime), (order.orderId + 10000))</td>
                            <td data-th="座位："> @order.seatID</td>
                            <td data-th="產品編號：" style="display:none"> @order.productID</td>
                            <td data-th="產品編號："> @order.productID</td>
                            <td data-th="產品名稱："> @order.productName</td>
                            <td data-th="數量："> @order.productCount</td>
                            <td data-th="單價："> @order.unitPrice</td>
                            <td data-th="小計："> @(order.unitPrice * order.productCount)</td>
                            <td data-th="備註："> @order.customerNote</td>
                            <td data-th="產品狀態："> @((order.productionStatus == 1) ? "待準備" : "準備完成" )</td>
                            <td> <button id="orderOk" type="button" class="btn btn-primary" onclick="foodDelivery(@order.productID,@order.orderId)">出餐</button> </td>
                        </tr>

                    }


                </tbody>

            </table>
        </div>

    </div>
</div>

 <script>

     //訂單出餐
     function foodDelivery(ProductID,OrderId) {

         //alert("訂單編號:" + OrderId + "  " + "產品編號" + ProductID)

         $.ajax({
             method: "post",
             dataType: "json",
             url: "@Url.Action("Order_list_chickToDatabase_bussiness", "Order")",
             data: {

                 productId_ok: parseInt(ProductID), 
                 orderId_ok: parseInt(OrderId),
             }
     })
            .done(function (data) {
                alert("確定出餐 訂單編號:" + OrderId + "的" + "產品編號" + ProductID)
                window.location.reload();
                //console.log(data);
                
                
            })

     }

     


     @*$("#dataTable").find("tr.orderListItem").find("button").click(function () {
         //alert(this.closest("tr").cells[4].innerText);
         var productId = this.closest("tr").cells[4];
         var orderId = this.closest("tr").cells[2];

         alert("訂單編號:" + orderId + "  " + "產品編號" + productId)

         $.ajax({
             method: "post",
             dataType: "json",
             url: "@Url.Action("Order_list_chickToDatabase_bussiness", "Order")",
             data: {
                 productId_ok: parseInt(productId),
                 orderId_ok: parseInt(orderId),
             }
     })
            //.done(function (data) {
            //    console.log(data);
            //    alert("確定出餐");
            //    $('#exampleModalCenter').modal('hide');

            //})

     });*@




            </script>

