@model List<task03_0606.Models.Order>
@{
    ViewBag.Title = "Order_list_history_bussiness";
}

<style>
    input[type=date]::-webkit-inner-spin-button {
        visibility: hidden;
    }
</style>

<ol class="breadcrumb">
    <li class="breadcrumb-item active">歷史訂單</li>
</ol>

<div class="col-xl-12 col-sm-12 mb-12">
    <div class="card-header">
        <i class="fa fa-table"></i>&nbsp; 訂單明細 <small class="pull-right text-muted">更新於 @string.Format("{0:yyyy/MM/dd/ HH:mm}", DateTime.Now.ToString())</small>
    </div>
    <div class="card-body">
        接單起始日期：<input id="beginDate" type="date"/>   接單截止日期：<input id="endDate" type="date" /> <button class="btn btn-success" onclick="queryBydate()">確認</button>
        <div class="table-responsive-sm　table-sm">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>訂單單號</th>
                        <th>接單時間</th>
                        @*<th>時間差</th>*@
                        <th>客戶電話</th>
                        <th>座位</th>
                        <th>訂單狀況</th>
                    </tr>
                </thead>

                <tbody>


                    @foreach(var order in Model)

                    {
                        <tr class="orderListItem" data-orderid="@order.orderId">
                            <td> @string.Format("{0:yyyyMMdd}{1}", Convert.ToDateTime(order.orderDate), (order.orderId + 10000)) </td>
                            <td> @string.Format("{0:yyyy/MM/dd/ HH:mm}", Convert.ToDateTime(order.orderDate)) </td>
                            @*<td> @string.Format("{0:dd HH:mm}", (DateTime.Now-Convert.ToDateTime(order.orderDate))) </td>*@
                            <td> @order.phoneNum</td>
                            <td> @order.tableId</td>
                            <td> @(order.orderState == 2 ? "訂單完成":"待出餐") </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>

<script>
    function queryBydate() {
        alert("開始日期: "+ $("#beginDate").val() + "  結束日期: " + $("#endDate").val());
    }

    $(".orderListItem").click(function () {
        alert($(this).data("orderid"));
        
        $.ajax({
            method: "post",
            url: '@Url.Action("Order_list_history_bussiness", "Order")',
            data:{
                orderId:$(this).data("orderid"),
            },
        })


    })

</script>

