<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>美食廣場</title>
    <!-- Bootstrap core CSS-->
    <link href="~/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/startbootstrap-sb-admin-gh-pages/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/startbootstrap-sb-admin-gh-pages/css/sb-admin.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="~/startbootstrap-sb-admin-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/startbootstrap-sb-admin-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <h2><a class="navbar-brand" href="~/Home/index"><i class="fa fa-fw fa-delicious"></i>美食廣場</a></h2>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            @*側邊導覽*@
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                
                    @*顧客專用-餐廳列表*@
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="餐廳列表">
                        <a class="nav-link" href="~/Home/Restaurent">
                            <i class="fa fa-fw fa-cutlery"></i>
                            <span class="nav-link-text">餐廳列表</span>
                        </a>
                    </li>
                    @*顧客專用-美食分類*@
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fa-cutlery"></i>
                            <span class="nav-link-text">美食分類</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                            <li>
                                <a href="login.html"> <i class="fa fa-glass"></i> 湯品/飲料</a>
                            </li>
                            <li>
                                <a href="register.html">速食</a>
                            </li>
                            <li>
                                <a href="forgot-password.html">飯</a>
                            </li>
                            <li>
                                <a href="blank.html">麵</a>
                            </li>
                        </ul>
                    </li>

                    @*顧客專用-訂單列表*@
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="訂單列表">
                        <a class="nav-link" href="~/Order/Order_list_costomer">
                            <i class="fa fa-fw fa-sticky-note"></i>
                            <span class="nav-link-text">訂單列表</span>
                        </a>
                    </li>

                
                @*網站意見反應*@
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="意見反應">
                    <a class="nav-link" href="~/Home/Respone">
                        <i class="fa fa-fw fa-sticky-note"></i>
                        <span class="nav-link-text">意見反應</span>
                    </a>
                </li>

            </ul>
            @*側邊導覽頁收合標籤*@
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            @*上方導覽*@
            <ul class="navbar-nav ml-auto">

                
               
                    @*顧客專用-購物車訊息*@
                    <li id="Cart" class="nav-item dropdown">
                        @Html.Partial("_CartList")
                    </li>
                    

                
                @*搜尋列*@
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search for...">
                            <span class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                @*網站登入/登出*@

                <li class="nav-item">

                    @{
                        string strUrl = "";
                        string faStr = "out";
                        string logStr = "登出";
                        string toggleStr = "modal";
                        string targetStr = "#exampleModal";
                        if (String.IsNullOrEmpty((string)Session["logState"])) {  //假如狀態為未登入
                            strUrl = "/Member/Login";  //連結設為登入頁，圖示、文字設為登入，data-toggle和data-target內容清空
                            faStr = "in";
                            logStr = "登入";
                            toggleStr = "";
                            targetStr = "";
                        }
                        <a class="nav-link" href="@strUrl" data-toggle="@toggleStr" data-target="@targetStr">
                            <i class="fa fa-fw fa-sign-@faStr"></i>@logStr
                        </a>
                    }

                </li>
            </ul>
        </div>
    </nav>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">準備登出?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">當你準備好離開時，按下"登出"按鍵登出。</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">關閉</button>
                    <a class="btn btn-primary" href="~/Member/Logout">登出</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->


            @RenderBody()

        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Your Website 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</body>
</html>

<!-- Page level plugin JavaScript-->
@*<script src="~/startbootstrap-sb-admin-gh-pages/vendor/chart.js/Chart.min.js"></script>*@
<script src="~/startbootstrap-sb-admin-gh-pages/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/startbootstrap-sb-admin-gh-pages/js/sb-admin.min.js"></script>
<!-- Custom scripts for this page-->
<script src="~/startbootstrap-sb-admin-gh-pages/js/sb-admin-datatables.min.js"></script>
@*<script src="~/startbootstrap-sb-admin-gh-pages/js/sb-admin-charts.min.js"></script>*@

<script>
    $(document).ready(function () { console.log("ready"); });

    //產品加入購物車
    function AddToCart(productId) {
        $.ajax({
            type: "post",
            url: '@Url.Action("AddToCart","Cart")',
            data: { id: productId }
        }).done(function (msg) {
            $("li#Cart").html(msg);
            $("#Modal").modal("hide");
            })
    }
    //產品移除購物車
    function RemoveFromCart(productId) {
        $.ajax({
            type: "post",
            url: '@Url.Action("RemoveFromCart", "Cart")',
            data: { id: productId},
        }).done(function (msg) {
            $("li#Cart").html(msg);
            })
    }

</script>

