@model List<task03_0606.Models.FoodProduct>
@{
    ViewBag.Title = "Drinkproducts";
}

<h2>飲品/湯品</h2>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
<link href="~/css/Astyle.css" rel="stylesheet" type="text/css" />
<script src="~/js/Aindex.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

@*<header>
        <ul>
            <i class='fa fa-shopping-cart'>
                <span class='counter'></span>
            </i>
        </ul>
    </header>*@



<div class='row'>
    @{ var counter = 1; }
    @foreach (task03_0606.Models.FoodProduct db in Model) {
        <div class="col-sm">
        <div class="product--red col-sm-12">
            <!-- Button trigger modal -->
            <img src='~/photo/@db.productPicture' width='300' data-toggle="modal" data-target="#exampleModalCenter.@db.productID" />

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter.@db.productID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle.@db.productID" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle.@db.productID">@db.productName</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <img src='~/photo/@db.productPicture' width='500' /><br />
                            @db.productDescription
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button id="button1" type="button" class="btn btn-primary" onclick="AddToCart(@db.productID)">放入購物車</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='product_inner'>
                <p>@db.productName</p>
                <p class="">售價 <i class="fa fa-dollar"></i> @db.productPrice</p>
                <button type="button" id="button1" onclick="AddToCart(@db.productID)">放入購物車</button>
            </div>

            <div class='product_overlay'>
                <h2>新增到購物車</h2>
                <i class='fa fa-check'></i>
            </div>
        </div>
            <br />
    </div>
            if (counter % 6 == 0) {
                @:</div><br /><div class="row">
                counter = 0;
                }
                counter++;
                }
            </div>
        
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                swal({
                    type: 'success',
                    title: '成功放入購物車',
                    showConfirmButton: false,
                    timer: 1000
                })
            });
        });
    </script>
