@model task03_0606.Models.myfoodproduct
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<div class="container">

@Html.AntiForgeryToken()
    <form method="post" action="" data-ajax="ture">
        <div class="form-group">

            <div class="col-md-6">
                <label for="exampleInputName">產品編號</label>
                <input class="form-control" id="productsId" name="productsId" type="text" value="@Model.productId">
            </div>
            <div class="col-md-6">
                <label for="exampleInputLastName">產品名稱</label>
                <input class="form-control" id="title" name="title" type="text" value="@Model.title">
            </div>
            <div class="col-md-6">
                <label for="exampleInputEmail1">產品售價</label>
                <input class="form-control" id="price" name="price" type="text" value="$@Model.price">
            </div>
            <div class="col-md-6">
                <label for="exampleInputEmail1">產品介紹</label>
                <input class="form-control" id="introduce" name="introduce" type="text" value="@Model.introduce">
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <input type="file" accept="image/*" onchange="showMyImage(this)" />
                    <br />
                    <img id="thumbnil" style="width:20%; margin-top:10px;" src="" alt="image" />
                    
                </div>

                <div class="ui-grid-a">
                    <div class="ui-block-a"><input type="submit" name="btnOKCancel" value="OK" /></div>
                    <div class="ui-block-b"><input type="submit" name="btnOKCancel" value="Cancel" /></div>
                </div>
            </div>
    </form>
    
    </div>

    @*<form action="@Url.Action("Upload")" method="post" enctype="multipart/form-data">
        <label for="file">Filename:</label>
        <input type="file" name="file" id="file" />
        <input type="submit" />
    </form>*@
    <hr />
