@model  List<task03_0606.Models.FoodProduct>
@{
    ViewBag.Title = "ManagerIndex";
}
<link href="~/css/Astyle.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet/scss" type="text/css" href="~/scss/Astyle.scss">
<link rel="stylesheet" href="responsive-tables.css">

<div class="container-fluid" >



    <div id="toolbar">
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <h1><i class="fa fa-table"></i><a href="" class="white-text mx-3">產品列表</a><a class="pull-right btn btn-warning text-primary" id="create" href="/Member/AddNewProduct">
    <i class="fa fa-plus" aria-hidden="true"></i>
    新增產品
</a></h1>
                
            </div>
            <div class="card-body">
                @*@Html.DropDownListFor(c => c , new { @class = "form-control ", id = "PageSize" })*@

                    <table class="table table-bordered" id="dataTable" width="140" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 50px;" class="list-unstyled" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="商品編號: activate to sort column descending" aria-sort="ascending">商品編號</th>
                                <th style="width: 80px;" class="list-unstyled" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="activate to sort column descending" aria-sort="ascending"></th>
                                <th style="width: 50px;" class="list-unstyled" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="商品名稱: activate to sort column descending" aria-sort="ascending">商品名稱</th>
                                <th style="width: 50px;" class="list-unstyled" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="商品圖片: activate to sort column descending" aria-sort="ascending">商品圖片</th>
                                <th style="width: 50px;" class="list-unstyled" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="銷售數量: activate to sort column descending" aria-sort="ascending">銷售數量</th>
                                <th style="width: 50px;" class="list-unstyled" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="商品代號: activate to sort column descending" aria-sort="ascending">商品代號</th>
                                <th style="width: 50px;" class="list-unstyled" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="商品介紹: activate to sort column descending" aria-sort="ascending">商品介紹</th>
                                <th style="width: 50px;" class="list-unstyled" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="商品價錢: activate to sort column descending" aria-sort="ascending">商品價錢</th>
                                <th style="width: 50px;" class="list-unstyled" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="店家代號: activate to sort column descending" aria-sort="ascending">店家代號</th>
                                <th style="width: 50px;" class="list-unstyled" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="目前狀態: activate to sort column descending" aria-sort="ascending">目前狀態</th>
                                <th style="width: 50px;" class="list-unstyled" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="商品類別: activate to sort column descending" aria-sort="ascending">商品類別</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td >@Html.DisplayFor(modelItem => item.productID)</td>
                                    @*<td>@Html.DisplayFor(modelItem => item.picture)</td>*@
                                    <td>
                                        @Html.ActionLink("編輯", "Edit", new { productID = item.productID }) <i class="fa fa-pencil text-primary" aria-hidden="true"></i>
                                        |
                                        @Html.ActionLink("刪除", "Delete", new { productID = item.productID }) <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                    </td>
                                    <td >@Html.DisplayFor(modelItem => item.productName)</td>
                                    <td class="ProfileImg">
                                        <img id="img1" src="~/photo/@item.productPicture" height="40" width="55" />
                                        @*<a title="Click to see the product detail" href="/admin/ProductDetail?productId=@item.productId">
                                                @{
                                                    if (File.Exists(Server.MapPath(System.Configuration.ConfigurationManager.AppSettings["picture"] + "Small/" + item.productId + "" + item.productId)))
                                                    {
                                                        <img src="@(System.Configuration.ConfigurationManager.AppSettings["picture"] + "Small/" + item.productId + "" + item.productId) " />
                                                    }
                                                    else
                                                    { <img src="~/photo/" alt="" />}
                                                }
                                            </a>*@
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.salesVolume)</td>
                                    <td>@Html.DisplayFor(modelItem => item.storeProductId)</td>
                                    <td id="productDescription" name="productDescription" class="alert-danger" width="200">
                                        @Html.DisplayFor(modelItem => item.productDescription)
                                    </td>
                                    <td>$@Html.DisplayFor(modelItem => item.productPrice)</td>
                                    <td>@Html.DisplayFor(modelItem => item.storeId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.productState)</td>
                                    <td>@Html.DisplayFor(modelItem => item.categoryID)</td>

                                   
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">更新時間 @DateTime.Now.ToString()</div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © 美食廣場 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->

    
</div>
<script>
    $(document).ready(function () {
        var opt = {
            "oLanguage": {
                "sProcessing": "處理中...",
                "sLengthMenu": "顯示 _MENU_ 項結果",
                "sZeroRecords": "沒有匹配結果",
                "sInfo": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
                "sInfoEmpty": "顯示第 0 至 0 項結果，共 0 項",
                "sInfoFiltered": "(從 _MAX_ 項結果過濾)",
                "sSearch": "搜尋：",
                "oPaginate": {
                    "sFirst": "首頁",
                    "sPrevious": "上一頁",
                    "sNext": "下一頁",
                    "sLast": "尾頁"
                }
            }
        };
        $("#dataTable").dataTable(opt);
    })
</script>
