@model List<task03_0606.Models.FoodProduct>
@{
    ViewBag.Title = "Riceproducts";
}

<h2>米飯類</h2>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
<link href="/css/Astyle.css" rel="stylesheet" type="text/css" />
<script src="/js/Aindex.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
@*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@


@*<header>
        <ul>
            <i class='fa fa-shopping-cart'>
                <span class='counter'></span>
            </i>
        </ul>
    </header>*@
<div class="row">
    @foreach (task03_0606.Models.FoodProduct db in Model)
    {

        <div class="product--pink col-sm-2" id="content">


            <div class="row" id="list"></div>
            <!-- Button trigger modal -->
            <img src='~/photo/@db.productPicture' width='300' type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter.@db.productID" />

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter.@db.productID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle.@db.productID" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle.@db.productID">@db.productName</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <img src='~/photo/@db.productPicture' width='500' /><br />
                            @db.productDescription
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="AddToCart(@db.productID)">Add to basket</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='product_inner'>
                <p>@db.productName</p>
                <p>Price $@db.productPrice</p>
                <button id="button" class="btn" type="button" onclick="AddToCart(@db.productID)">Add to basket</button>
            </div>

            <div class='product_overlay'>
                <h2>Added to basket</h2>
                <i class='fa fa-check'></i>
            </div>
        </div>

    }
</div>