
@{
    ViewBag.Title = "EasyRegister";
    Layout = "~/Views/_Member_LayoutPage1.cshtml";
}

<h2>簡易註冊</h2>
<div class="container custom-container-width">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">註冊帳號</div>
        <div class="card-body">
            <form method="post" action="" id="regForm">
                <div class="form-group">
                    <div class="form-row">

                        <div class="col-md-6">
                            <label for="LastName">姓氏</label>
                            <input class="form-control" id="LastName" name="LastName" value="@ViewBag.LastName" type="text" required="required" aria-describedby="nameHelp" placeholder="請輸入姓氏...">
                        </div>
                        <div class="col-md-6">
                            <label for="FirstName">名稱</label>
                            <input class="form-control" id="FirstName" name="FirstName" value="@ViewBag.FirstName" type="text" required="required" aria-describedby="nameHelp" placeholder="請輸入名稱...">
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="Password1">密碼</label>
                            <input class="form-control" id="Password1" name="Password1" value="@ViewBag.Password1" type="password" required="required" placeholder="請輸入密碼...">
                        </div>
                        <div class="col-md-6">
                            <label for="ConfirmPassword" id="ConfPwdLabel">確認密碼</label>
                            <input class="form-control" id="ConfirmPassword" name="ConfirmPassword" value="@ViewBag.ConfirmPassword" type="password" required="required" placeholder="確認密碼...">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cellPhone">手機號碼</label> @Html.Raw(ViewBag.html)
                    <input class="form-control" id="cellPhone" name="cellPhone" value="@ViewBag.cellPhone" type="tel" maxlength="10" pattern="([0]{1})([9]{1})(\d{8})" required aria-describedby="telHelp" placeholder="請輸入手機號碼...">
                </div>


                


                @*<a class="btn btn-primary btn-block" href="login.html">註冊</a>*@
                <button type="submit" id="submitBtn" class="btn btn-primary btn-block">註冊</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="/Member/Login">登入</a>
                <a class="d-block small" href="/Member/ForgotPassword">忘記密碼?</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/yi.js"></script>