
@{
    ViewBag.Title = "EditStore";
    Layout = "~/Views/_Store_Home_LayoutPage1.cshtml";
}

<h2>EditStore</h2>
<div class="container custom-container-width">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header"><i class="fa fa-fw fa-plus-square"></i>新增商店</div>
        <div class="card-body">
            <form method="post" action="" id="regForm">
                <div class="form-group">
                    <label for="storeName">商店名稱</label>
                    <input class="form-control" id="storeName" name="storeName" value="@ViewBag.storeName" type="text" required>
                </div>
                <div class="form-group">
                    <label for="storePhone">電話</label>
                    <input class="form-control" id="storePhone" name="storePhone" value="@ViewBag.storePhone" type="text" required>
                </div>

                <div class="form-group">
                    <label for="storeId">統一編號 @Html.Raw(ViewBag.storeIdCheck)</label>
                    <input class="form-control" id="storeId" name="storeId" value="@ViewBag.storeId" type="text" readonly>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="Password1">密碼</label>
                            <input class="form-control" id="Password1" name="Password1" value="@ViewBag.Password1" type="password" required placeholder="請輸入密碼...">
                        </div>
                        <div class="col-md-6">
                            <label for="ConfirmPassword" id="ConfPwdLabel">確認密碼</label>
                            <input class="form-control" id="ConfirmPassword" name="ConfirmPassword" value="@ViewBag.ConfirmPassword" type="password" required placeholder="確認密碼...">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="storeDescription">商店描述</label>
                    <textarea class="form-control" id="storeDescription" name="storeDescription" rows="3" required></textarea>
                </div>
                <hr />
                <div class="form-group">
                    <div class="form-group">
                        <label for="cellPhone">負責人連絡電話</label>
                        <input class="form-control" id="cellPhone" name="cellPhone" value="@ViewBag.cellPhone" type="tel" maxlength="10" pattern="([0]{1})([9]{1})(\d{8})" required aria-describedby="telHelp" placeholder="請輸入手機號碼...">
                    </div>

                </div>






                @*<a class="btn btn-primary btn-block" href="login.html">註冊</a>*@
                <button type="submit" id="submitBtn" class="btn btn-primary btn-block text-white">確認</button>
            </form>

        </div>
    </div>
</div>
<script src="/js/yi.js"></script>
<script>
    $("#storeId").blur(function () {
        regForm.submit();
    });
    $("#storeDescription").val("@ViewBag.storeDescription");
    
</script>
<script>
        $("document").ready(function () {
        if (@ViewBag.sweetAlert == 1) {
            swal({
                type: 'success',
                title: '商店資料已修改！',
                showConfirmButton: false,
                timer: 1500
            })
        }
    })

</script>
