@model List<task03_0606.Models.CUserList>
@{
    ViewBag.Title = "MemberTable";
    Layout = "~/Views/_Member_SuperUser_LayoutPage1.cshtml";
}

<h2>MemberTable</h2>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">儀錶板</a>
            </li>
            <li class="breadcrumb-item active">表格</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> 會員列表
            </div>
            <div class="card-body">
                <div class="table-responsive-sm">
                    <table class="table table-bordered" id="dataTable" width="100" cellspacing="0">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th class="d-none d-lg-table-cell">手機號碼</th>
                                <th class="d-none d-lg-table-cell">電子信箱</th>
                                <th class="d-none d-lg-table-cell">權限</th>
                                <th>詳細資料</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>姓名</th>
                                <th class="d-none d-lg-table-cell">手機號碼</th>
                                <th class="d-none d-lg-table-cell">電子信箱</th>
                                <th class="d-none d-lg-table-cell">權限</th>
                                <th>詳細資料</th>
                            </tr>
                        </tfoot>
                        <tbody>



                            @{foreach (task03_0606.Models.UserInfo item in ViewBag.userList) {
                                    string[] strArray = new string[3];
                                    string[] strUserRank = new string[3] { "網站管理員", "商家管理員", "顧客" };

                            <tr>
                                <td>@item.lastName@item.firstName</td>
                                <td class="d-none d-lg-table-cell">@item.phoneNum</td>
                                <td class="d-none d-lg-table-cell">@item.email</td>
                                <td class="d-none d-lg-table-cell">@item.userRank</td>
                                <td><a class="btn btn-primary" href="/Member/MemberTable/?UserInfoId=@item.UserInfoId" id="detial-@item.UserInfoId">詳細資料</a></td>
                            </tr>
                                } }




                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">準備登出?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">當你準備好離開時，按下"登出"按鍵登出。</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">關閉</button>
                    <a class="btn btn-primary" href="~/Member/Logout">登出</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>
</div>
<script>

    $('a').click(function () {
        //alert('ok');

    });

    $(document).ready(function () {
        if (@ViewBag.sweetAlertMemberTabl == 1) {
            swal({
                title: '<i>會員詳細資料</i>',
                type: 'info',
                html:
                    '<div class="card card-register mx-auto mt-5">' +
                    '<div class="card-header"><i class="fa fa-fw fa-pencil"></i>@ViewBag.lastName@ViewBag.firstName</div>' +
                    '<div class="card-body">' +
                    
                    '<label>身分證字號：@ViewBag.userId</label></br>' +
                    '<label>電子信箱：@ViewBag.email</label></br>' +
                    '<label>手機號碼：@ViewBag.phoneNum</label></br>' +
                    '<label>地址：@ViewBag.city@ViewBag.district@ViewBag.road @ViewBag.lane @((string.IsNullOrEmpty(ViewBag.lane))?" ":" 巷") @ViewBag.alley @((string.IsNullOrEmpty(ViewBag.alley))?" ":" 弄") @ViewBag.addressNum @((string.IsNullOrEmpty(ViewBag.addressNum))?" ":" 號") @ViewBag.addressF @((string.IsNullOrEmpty(ViewBag.addressF))?"":"樓")</label></br>' +
                    '<label>使用者權限：@((ViewBag.userRank == "superUser")?"網站管理者":"")@((ViewBag.userRank == "storeUser")?"商店管理者":"")@((ViewBag.userRank == "normalUser")?"一般使用者":"")</label></br>' +

                    
                    '</div>' +
                    '</div>' +
                    '</div>',
                showCloseButton: true,
                showCancelButton: true,
                focusConfirm: false,

            })
        }
    })


</script>
