<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>美食廣場</title>
    <!-- Bootstrap core CSS-->
    <link href="~/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/startbootstrap-sb-admin-gh-pages/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/startbootstrap-sb-admin-gh-pages/css/sb-admin.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/startbootstrap-sb-admin-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>

</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <h2><a class="navbar-brand" href="~/Home/index"><i class="fa fa-fw fa-delicious"></i>美食廣場</a></h2>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            @*側邊導覽*@
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                @*@if (Session["identity"].ToString() == "normalUser" || Session["identity"].ToString() == "Guest") {*@
            @*顧客專用-餐廳列表*@
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="餐廳列表">
                <a class="nav-link" href="~/Home/Restaurent">
                    <i class="fa fa-fw fa-home"></i>
                    <span class="nav-link-text">餐廳列表</span>
                </a>
            </li>
            @*顧客專用-美食分類*@
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-cutlery"></i>
                    <span class="nav-link-text">美食分類</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                    <li>
                        <a href="/Products/Drinkproducts"> <i class="fa fa-hand-o-right"></i> 湯品/飲料</a>
                    </li>
                    <li>
                        <a href="/Products/Fastfoodproducts"> <i class="fa fa-hand-o-right"></i> 速食</a>
                    </li>
                    <li>
                        <a href="/Products/Riceproducts"> <i class="fa fa-hand-o-right"></i> 飯</a>
                    </li>
                    <li>
                        <a href="/Products/Noodleproducts"> <i class="fa fa-hand-o-right"></i> 麵</a>
                    </li>
                    <li>
                        <a href="/Products/Dessertproducts"> <i class="fa fa-hand-o-right"></i> 甜點</a>
                    </li>
                </ul>
            </li>
if (Session["identity"].ToString() == "normalUser") {
            @*顧客專用-訂單列表*@
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="訂單列表">
                <a class="nav-link" href="~/Order/Order_list_costomer">
                    <i class="fa fa-fw fa-list"></i>
                    <span class="nav-link-text">訂單列表</span>
                </a>
            </li>
}



}
                @*@if (Session["identity"].ToString() == "store" || Session["identity"].ToString() == "storeUser") {*@
            @*商家專用-未出餐訂單-訂單別*@
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="未出餐訂單-訂單別">
                <a class="nav-link" href="~/Order/Order_list_bussiness">
                    <i class="fa fa-fw fa-sticky-note"></i>
                    <span class="nav-link-text">未出餐訂單-訂單別</span>
                </a>
            </li>

            @*商家專用-未出餐訂單-明細別*@
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="未出餐訂單-明細別">
                <a class="nav-link" href="~/Order/Order_deteail_bussiness">
                    <i class="fa fa-fw fa-list"></i>
                    <span class="nav-link-text">未出餐訂單-明細別</span>
                </a>
            </li>

            @*商家專用-chart*@
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="產品銷售統計">
                <a class="nav-link" href="~/Member/StoreChart">
                    <i class="fa fa-fw fa-bar-chart"></i>
                    <span class="nav-link-text">產品銷售統計</span>
                </a>
            </li>

            @*商家專用-產品列表*@
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="產品列表">
                <a class="nav-link" href="~/Products/ManagerIndex">
                    <i class="fa fa-fw fa-th-list"></i>
                    <span class="nav-link-text">產品列表</span>
                </a>
            </li>
}
            @*網站意見反應*@
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="意見反應">
                    <a class="nav-link" href="~/Products/createfeedback">
                        <i class="fa fa-fw fa-bullhorn"></i>
                        <span class="nav-link-text">意見反應</span>
                    </a>
                </li>

            </ul>
            @*側邊導覽頁收合標籤*@
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            @*上方導覽*@
            <ul class="navbar-nav ml-auto">

                @*@if (Session["identity"].ToString() == "store" || Session["identity"].ToString() == "storeUser") {*@
                    @*商家專用-新單訊息*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-fw fa-bell"></i>
                            <span class="indicator text-primary d-none d-lg-block">
                                <i class="fa fa-fw fa-circle">10</i>  @*新增筆數*@
                            </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">新訂單：</h6>

                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item">
                                <a href="/Home/Order?orderID=1"><strong>訂單1</strong> </a>
                                <span class="small float-right text-muted">新增時間 11:21 AM</span>
                                <div class="dropdown-message small"> 桌號: 1 號, 訂餐內容: .... Hey there! This new version of SB Admin is Hey there! This new version of SB Admin is</div>
                            </div>

                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item">
                                <a href="/Home/Order?orderID=2"><strong>訂單2</strong> </a>
                                <span class="small float-right text-muted">新增時間 11:21 AM</span>
                                <div class="dropdown-message small"> 桌號: 2 號, 訂餐內容: .... Hey there! This new version of SB Admin is Hey there! This new version of SB Admin is</div>
                            </div>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item small" href="~/Order/Order_list_bussiness">詳細訂單明細</a>
                        </div>
                    </li>
                }
                @*@if (Session["identity"].ToString() == "normalUser" || Session["identity"].ToString() == "Guest") {*@
                    @*顧客專用-購物車訊息*@
                    <li id="Cart" class="nav-item dropdown">
                        @Html.Partial("_CartList")
                    </li>


                }
                @*搜尋列*@
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="搜尋...">
                            <span class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>


                @*網站登入/登出*@



                @{
                    string strUrl = "";
                    string faStr = "out";
                    string logStr = "登出";
                    string toggleStr = "modal";
                    string targetStr = "#exampleModal";
                    if (String.IsNullOrEmpty((string)Session["logState"])) {  //假如狀態為未登入
                        strUrl = "/Member/Login";  //連結設為登入頁，圖示、文字設為登入，data-toggle和data-target內容清空
                        faStr = "in";
                        logStr = "登入";
                        toggleStr = "";
                        targetStr = "";
                    }
                    <li class="nav-item">
                        @if (!String.IsNullOrEmpty((string)Session["logState"])) {
                            <a class="nav-link" href="/Member/EditPersonalData">
                                <i class="fa fa-fw fa-pencil"></i> @Session["UserAllName"].ToString()您好！
                            </a>
                        } else {
                            <a class="nav-link" href="">
                                親愛的顧客 您好！
                            </a>
                        }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@strUrl" data-toggle="@toggleStr" data-target="@targetStr">
                            <i class="fa fa-fw fa-sign-@faStr"></i>@logStr
                        </a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->


            @RenderBody()

        </div>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">準備登出?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">當你準備好離開時，按下"登出"按鍵登出。</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">關閉</button>
                        <a class="btn btn-primary" href="~/Member/Logout">登出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>
                    <i class="fa fa-copyright"></i>
                    SMIT 04
                </small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    </div>
</body>
</html>

<!-- Page level plugin JavaScript-->
@*<script src="~/startbootstrap-sb-admin-gh-pages/vendor/chart.js/Chart.min.js"></script>*@
<script src="~/startbootstrap-sb-admin-gh-pages/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/startbootstrap-sb-admin-gh-pages/js/sb-admin.min.js"></script>
<!-- Custom scripts for this page-->
<script src="~/startbootstrap-sb-admin-gh-pages/js/sb-admin-datatables.min.js"></script>
@*<script src="~/startbootstrap-sb-admin-gh-pages/js/sb-admin-charts.min.js"></script>*@


<script>
    $(document).ready(function () {
        console.log("ready");
        $("#button1").click(function () {
            swal({
                type: 'success',
                title: '成功放入購物車',
                showConfirmButton: false,
                timer: 1000
            })
        });
        $("#button2").click(function () {
            swal({
                type: 'success',
                title: '成功放入購物車',
                showConfirmButton: false,
                timer: 1000
            })
        });
    });

    //產品加入購物車
    function AddToCart(productId) {
        //alert(productId);
        $.ajax({
            type: "post",
            url: '@Url.Action("AddToCart","Cart")',
            data: { id: productId }
        }).done(function (msg) {
            $("li#Cart").html(msg);
            $("#Modal").modal("hide");
            })
    }
    //產品移除購物車
    function RemoveFromCart(productId) {
        $.ajax({
            type: "post",
            url: '@Url.Action("RemoveFromCart", "Cart")',
            data: { id: productId},
        }).done(function (msg) {
            $("li#Cart").html(msg);
            })
    }

</script>

